{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Checkout | Zenon</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

{% include 'navbar.html' %}

<h2 class="checkout-title">Checkout</h2>

<div class="checkout-container">

<!-- Order Summary -->
<div class="order-summary">

<h3>Order Summary</h3>

{% for item in items %}

<div class="order-item">
<img src="{{ item.product.image.url }}" class="order-image">

<div>
<p><b>{{ item.product.name }}</b></p>
<p>₹ {{ item.product.price }} × {{ item.quantity }}</p>
</div>

</div>

{% endfor %}

<hr>

<div class="total-section">
<h3>Total</h3>
<h3>₹ {{ total }}</h3>
</div>

</div>


<!-- Payment -->
<div class="payment-section">

<h3 style="margin-bottom: 15px;">Payment Method</h3>

<form method="POST" action="{% url 'place_order' %}">
{% csrf_token %}

<label>
<input type="radio" name="payment" value="online" required>
UPI / Card (Online Payment)
</label><br><br>

<label>
<input type="radio" name="payment" value="cod">
Cash on Delivery
</label><br><br>

<button type="button" id="pay-btn" class="pay-btn">
Pay Now
</button>

</form>

</div>

</div>

<<script>
document.getElementById("pay-btn").onclick = function(e){

    var selected = document.querySelector('input[name="payment"]:checked');

    if(!selected){
        alert("Select payment method");
        return;
    }

    if(selected.value === "cod"){
        document.querySelector("form").submit();
        return;
    }

    var options = {
        "key": "{{ RAZORPAY_KEY_ID }}",
        "amount": {{ amount }},
        "currency": "INR",
        "name": "Zenon Fashion",
        "description": "Order Payment",

        "handler": function (response){
            window.location.href = "{% url 'place_order' %}";
        },

        "theme": {
            "color": "#ff6b00"
        }
    };

    var rzp = new Razorpay(options);
    rzp.open();

    e.preventDefault();
}
</script>