{% load static %}

<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="{% static 'images/ban1.jpeg' %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="{% static 'images/ban2.jpeg' %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="{% static 'images/ban3.jpeg' %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="{% static 'images/ban4.jpeg' %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="{% static 'images/ban5.jpeg' %}" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="{% static 'images/ban6.jpeg' %}" style="width:100%">
  </div>

</div>
